Checks: 'bugprone-*,clang-diagnostic-*,clang-analyzer-*,modernize-*,cppcoreguidelines-*,-modernize-use-nodiscard,-cppcoreguidelines-special-member-functions,-modernize-use-trailing-return-type,-readability-magic-numbers,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-avoid-const-or-ref-data-members,-cppcoreguidelines-owning-memory,-bugprone-forward-declaration-namespace,-modernize-use-ranges,-cppcoreguidelines-non-private-member-variables-in-classes,-modernize-return-braced-init-list'